# ======================================================================================
# File         : .gitignore
# Author       : Wu Jie 
# Last Change  : 01/08/2010 | 20:34:27 PM | Friday,January
# Description  : 
# ======================================================================================

#/////////////////////////////////////////////////////////////////////////////
# used in dev branch
#/////////////////////////////////////////////////////////////////////////////

_doc/
vim72/
wiki_html/

#/////////////////////////////////////////////////////////////////////////////
# gen by exVim
#/////////////////////////////////////////////////////////////////////////////

_vimfiles_*/
*.vimentry
quick_gen_project_*_autogen.*

#/////////////////////////////////////////////////////////////////////////////
# gen by python
#/////////////////////////////////////////////////////////////////////////////

vimfiles/plugin/visual_studio.pyc
