# ======================================================================================
# File         : .gitignore
# Author       : Wu Jie 
# Last Change  : 01/08/2010 | 20:34:27 PM | Friday,January
# Description  : 
# ======================================================================================

#/////////////////////////////////////////////////////////////////////////////
# gen by exVim
#/////////////////////////////////////////////////////////////////////////////

.vimfiles.*/
*.vimentry
quick_gen_project_*_autogen.*
vim74/

#/////////////////////////////////////////////////////////////////////////////
# gen by python
#/////////////////////////////////////////////////////////////////////////////

*.pyc
