BODY {
	FONT-FAMILY: arial,helvetica,sans-serif
}
TD {
	FONT-FAMILY: arial,helvetica,sans-serif
}
P {
	FONT-FAMILY: arial,helvetica,sans-serif
}
TH {
	FONT-WEIGHT: bold; FONT-FAMILY: arial,helvetica,sans-serif; TEXT-ALIGN: left
}
EM {
	FONT-WEIGHT: bold; FONT-STYLE: italic
}
.darkbg {
	BACKGROUND-COLOR: #007f00
}
.lightbg {
	BACKGROUND-COLOR: #cccc99
}
.sidebar {
	FONT-SIZE: small; FONT-FAMILY: arial,helvetica,sans-serif; BACKGROUND-COLOR: #f0f0dd
}
.topheader {
	FONT-WEIGHT: bold; FONT-SIZE: large; FONT-FAMILY: arial,helvetica,sans-serif; BACKGROUND-COLOR: #cccc99
}
.sidebarheader {
	FONT-WEIGHT: bold; FONT-SIZE: small; FONT-FAMILY: arial,helvetica,sans-serif
}
.newsdate {
	FONT-SIZE: small; COLOR: #6666cc; FONT-STYLE: italic
}
PRE {
	FONT-FAMILY: "andale mono", "monotype.com", "courier new", monospace
}
CODE {
	FONT-FAMILY: "andale mono", "monotype.com", "courier new", monospace
}
H1 {
	FONT-WEIGHT: bold; FONT-SIZE: medium; COLOR: #000066; FONT-FAMILY: arial,helvetica,sans-serif
}
.txth1 {
	FONT-WEIGHT: bold; FONT-SIZE: medium; COLOR: #000066; FONT-FAMILY: arial,helvetica,sans-serif
}
H2 {
	FONT-WEIGHT: bold; FONT-SIZE: small; COLOR: #000066; FONT-FAMILY: arial,helvetica,sans-serif
}
.txth2 {
	FONT-WEIGHT: bold; FONT-SIZE: small; COLOR: #000066; FONT-FAMILY: arial,helvetica,sans-serif
}
H3 {
	FONT-WEIGHT: bold; FONT-SIZE: x-small; COLOR: #000066; FONT-FAMILY: arial,helvetica,sans-serif
}
.txth3 {
	FONT-WEIGHT: bold; FONT-SIZE: x-small; COLOR: #000066; FONT-FAMILY: arial,helvetica,sans-serif
}
SMALL {
	FONT-SIZE: 75%; FONT-FAMILY: arial,helvetica,sans-serif
}
A.small {
	FONT-SIZE: 75%; COLOR: #000066; FONT-FAMILY: arial,helvetica,sans-serif; TEXT-DECORATION: none
}
.style1 {
	COLOR: #666666
}
INPUT {
	FONT-FAMILY: arial,helvetica,sans-serif
}
TEXTAREA {
	WIDTH: 100%; FONT-FAMILY: arial, helvetica, sans-serif
}
.prompt {
	FONT-WEIGHT: bold; FONT-FAMILY: arial,helvetica,sans-serif
}
.errortext {
	COLOR: #cc0000; FONT-FAMILY: arial,helvetica,sans-serif
}
.errorheader {
	FONT-SIZE: medium; COLOR: #cc0000; FONT-FAMILY: arial,helvetica,sans-serif
}
.tableheader {
	FONT-WEIGHT: bold; FONT-FAMILY: arial,helvetica,sans-serif; BACKGROUND-COLOR: #cccc99
}
.rowodd {
	FONT-FAMILY: arial,helvetica,sans-serif; BACKGROUND-COLOR: #f0f0dd
}
.roweven {
	FONT-FAMILY: arial,helvetica,sans-serif; BACKGROUND-COLOR: #cccc99
}
TR.tableheader TH {
	FONT-FAMILY: arial,helvetica,sans-serif; BACKGROUND-COLOR: #cccc99; TEXT-ALIGN: center
}
TD.checker {
	BACKGROUND-IMAGE: url(http://vim.sourceforge.net/images/checkerboard.gif); BACKGROUND-COLOR: #007f00
}
