---
layout: layout
---
<body class="index-page">
  <div class="container" id="main" role="main">
    <!-- Posts -->
    <div class="posts">
      {% for post in paginator.posts %}
      <!-- text post -->
      {% if post.type == 'text' %}
      <article class="text">
        <header>
          <h2><a href="{% if site.baseurl %}{{ site.baseurl }}{% endif %}{{ post.url }}">{{ post.title }}</h2></a>
        </header>
        <section>
        {{ post.content }}
      <!-- photo post -->
      {% elsif post.type == 'photo' %}
      <article class="photo">
        <header>
          <a href="{% if site.baseurl %}{{ site.baseurl }}{% endif %}{{ post.url }}"><img src="{% if site.baseurl %}{{ site.baseurl }}{% endif %}{{ post.photo_url }}" alt="{{ post.title }}" /></a>  
          <a class="highres photo-link etp-zoom" href="{% if site.baseurl %}{{ site.baseurl }}{% endif %}{{ post.photo_url }}">Zoom</a>
          <a href="{% if site.baseurl %}{{ site.baseurl }}{% endif %}{{ post.url }}" class="permalink-button photo-link">
            <span class="icon-link etp-permalink"></span>
            <strong>Permalink</strong>
          </a>
        </header>
        <section>
          <ul class="exif">
            {% if post.camera %}
            <li class="etp-camera">Camera: <strong>{{ post.camera }}</strong></li>
            {% endif %}
            {% if post.apeture %}
            <li>Apeture: <strong>{{ post.apeture }}</strong></li>
            {% endif %}
            {% if post.exposure %}
            <li>Exposure: <strong>{{ post.exposure }}</strong></li>
            {% endif %}
            {% if post.focal_length %}
            <li>Focal: <strong>{{ post.focal_length }}</strong></li>
            {% endif %}
          </ul>
          {{ post.content }}
      <!-- quote post -->
      {% elsif post.type == 'quote' %}
      <article class="quote">
        <header>
          <p><span class="quote_start">&ldquo;</span>{{ post.title }}<span class="quote_end">&rdquo;</span></p>
        </header>
        <section>
          {% if post.source %}<p>{{ post.source }}</p>{% endif %}
          {{ post.content }}
      <!-- link post -->
      {% elsif post.type == 'link' %}
      <article class="link">
        <header>
          <h2><a href="{{ post.link }}"><span>{{ post.title }}</span></a></h2>
        </header>
        <section>
          {{ post.content }}
      <!-- embed post -->
      {% elsif post.type == 'embed' %}
      <article class="video">
        <header>
          {{ post.embed_code }}
        </header>
        <section>
          {{ post.content }}
      <!-- any other post -->
      {% else %}
      <article class="text">
        <header>
          <h2><a href="{% if site.baseurl %}{{ site.baseurl }}{% endif %}{{ post.url }}">{{ post.title }}</h2></a>
        </header>
        <section>
        {{ post.content }}
      {% endif %}
        <!-- post footer -->
        </section>
        <footer>
          <ul class="meta">
            <li class="time"><a href="{% if site.baseurl %}{{ site.baseurl }}{% endif %}{{ post.url }}" class="etp-timeago">{{ post.date | date_to_string }}</a></li>
            {% if site.disqus_shortname %}
            <li class="comments"><a href="{% if site.baseurl %}{{ site.baseurl }}{% endif %}{{ post.url }}#disqus_thread" class="dsq-comment-count semihidden etp-comments">&nbsp;</a></li>
            {% endif %}
          </ul>
        </footer>
      </article>
      {% endfor %}
    </div>
    <!-- end posts -->
    <div class="pagination">
      <nav id="pagination">
        <ul>
        {% if paginator.previous_page %}
          {% if paginator.previous_page == 1 %}
          <li class="prev active"><a href="{% if site.baseurl %}{{ site.baseurl }}{% endif %}/" class="previous button etp-previous">Prev Page</a></li>
          {% else %}
          <li class="prev active"><a href="{% if site.baseurl %}{{ site.baseurl }}{% endif %}/page{{paginator.previous_page}}" class="previous button etp-previous">Prev Page</a></li>
          {% endif %}
        {% endif %}
        {% if paginator.next_page %}
          <li class="next active"><a href="{% if site.baseurl %}{{ site.baseurl }}{% endif %}/page{{paginator.next_page}}" class="next button etp-next">Next Page</a></li>
        {% endif %}
        </ul>
      </nav>
    </div>
  </div>


